<input [value]="name">

<button
type="button"
[disabled]="isDisabled"
(click)="clicked($event)">
  Click Me!
</button>

<hr>

<button type="button" (click)="up()">
  More
</button>
<button type="button" (click)="down()">
  Less
</button>

<div *ngIf="cart.length <= 0">
	<h3>Your cart is empty</h3>
</div>

<div *ngIf="cart.length > 0">
	<h3>Your cart has {{ cart.length }} item(s)</h3>
</div>

<ul>
	<li
			*ngFor="let item of cart; let i = index;"
			[ngClass]="{ shaded: (i % 2) }">
		{{ item }}
	</li>
</ul>

